<config>
    <window width="800" height="600" fov="60" isometric="0" fullscreen="0" multisampling="1" vsync="0"/>
    <gamepaths>
        <gamepath name="halflife">C:\Program Files (x86)\Steam\steamapps\common\Half-Life\valve\</gamepath>
        <gamepath name="cstrike">C:\Program Files (x86)\Steam\steamapps\common\Half-Life\cstrike\</gamepath>
    </gamepaths>
</config>
